@model List<GiftViewModel>

@{
    ViewBag.Title = "Gifts";
}

@{int counter = 0;}

<section class="grid sm:grid-cols-3">
@foreach(var giftViewModel in Model) {
    <section class="border-gray-500 border-2 p-6 m-5 rounded-lg flex justify-between" >
        <a asp-action="Edit" asp-route-id=@counter class="text-2xl sm:text-3xl leading-4">@giftViewModel.Title</a>
        <form asp-action="Delete" asp-route-id=@counter method="post"><button onclick="return confirm('You are about to delete @giftViewModel.Title. Are you sure you want to do this?')"><i class="fas fa-trash text-2xl sm:text-3xl leading-4"></i></button></form>
        @{counter++;}
    </section>
}
</section>
<a asp-action="Create" class="text-2xl sm:text-3xl p-6">Create</a>