<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Secret Santa - @ViewBag.Title</title>
    <!-- Stylesheets -->
    
    <link href="~/css/main.b14b32c75bac0a092a37.css" rel="stylesheet" />
    
    <!-- End Stylesheets -->
</head>
<body>
    <header class="bg-gradient-to-tr from-green-500 to-red-500 text-white flex flex-col sm:flex-row justify-between p-6" x-data="SecretSanta.setupNav()">
        <div class="flex flex-row justify-between">
            <a class="text-2xl leading-10" asp-controller="Home" asp-action="Index">Secret Santa</a>
            <button class="sm:hidden" @@click="toggleMenu()"><i class="fas fa-bars text-2xl align-middle h-full"></i></button>
        </div>
        <nav id="headerNav" class="hidden sm:inline-block">
            <ul class="flex flex-col sm:flex-row">
                <li class="sm:px-6 leading-10"><a asp-controller="Users" asp-action="Index">Users</a></li>
                <li class="sm:px-6 leading-10"><a asp-controller="Groups" asp-action="Index">Groups</a></li>
                <li class="sm:px-6 leading-10"><a asp-controller="Gifts" asp-action="Index">Gifts</a></li>
            </ul>
        </nav>
    </header>
    <section class="m-10">
        @RenderBody()
    </section>
    <!-- Scripts -->
    
    <script src="~/js/main.b14b32c75bac0a092a37.js"></script>
    
    <!-- End Scripts -->
</body>
</html>