@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn {
        @apply border border-green-800 text-white;
        @apply rounded-xl py-2 px-4 bg-green-400 hover:bg-green-600;
    }

    input {
        @apply border border-indigo-300 rounded-md w-full;
    }
}

@layer utilities {
    .input-validation-error {
        @apply border-red-400 focus:border-red-800;
    }
}
