@model List<GroupViewModel>


@{int counter = 0;}

@foreach (var group in Model)
{
<section>
    @group.GroupName <a asp-controller="Groups" asp-action="Update" asp-route-id=@counter>Update</a> <a asp-controller="Groups" asp-action="Delete" asp-route-itemid=@counter>Delete</a>
    <ul>
        @foreach (var user in group.Users)
        {
            @if(user == null){
            <li>@user.FullName</li>
            }
        }
    </ul>
    @{counter++;}
</section>
}
<a asp-controller="Groups" asp-action="Create">Create</a>