@model List<GroupViewModel>


@{int counter = 0;}

@foreach (var group in Model)
{
<section>
    @group.GroupName <a asp-controller="Groups" asp-action="Update" asp-route-id=@counter>Update</a>
    @{counter++;}
</section>

}
<a asp-controller="Groups" asp-action="Create">Create</a>