  @model GroupViewModel

<form asp-controller="Groups" asp-action="Update" method="post">
    <input type="hidden" asp-for="Id" />
    <div>
        <label asp-for="GroupName"></label>: <input type="text" asp-for="GroupName" />
        <span asp-validation-for="GroupName"></span>
    </div>
    <button>Save</button>
</form>