@model UserViewModel

<form asp-controller="Users" asp-action="Create" method="post">
    <section>
        @await Html.PartialAsync("_CreateOrEdit")
    </section>
    <button class="btn">Create</button>
    <button class="btn">
        <a asp-controller="Users" asp-action="Index">Cancel</a>
    </button>
</form>